.box {
  height: 100px;
  width: 100px;
  background-color: lightcoral;
  margin: 2rem;
  transition: all 1s ease-in-out;
}
.box:hover {
  background-color: lightpink;
  width: 150px;
  height: 150px;
}
